*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'poppins';
    /* user-select: none; */
}
body{
    position: relative;
}
.container{
   
    height:100%;
    width:100vw;
    
    
} 
nav{

    overflow: hidden;
    position: fixed;
    top:0px;
    
    width: 100%;
   
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.753);
    
    
    padding:0px 30px 0px 30px ;
    flex-wrap: nowrap;
    z-index: 10;
    backdrop-filter: blur(10px);

   
}
nav button{
    height:50px;
    width:200px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color:orange;
    font-size: 15px;
    font-weight: bold;
    border:1px solid orange;

}
nav button a{
    /* box-sizing: none; */
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
    color:orange;
    
    }
    nav button a:hover{
        color:black;
        background-color: orange ;
        transition: all .5s linear ;
        cursor: pointer;
       
    }
name{
    
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 5px;
    color:white;
}
nav ul{
    display: flex;
   /* height:100%; */
   align-items: center;
   width: 40%;
   color: #f5eded98;
   font-weight: bolder;
}
ul a{
    height: 50px;
    width:100%;
    text-align: center;
    /* padding-top:13%; */

    box-sizing: border-box;
    padding:10px 10px 10px 10px;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: none;
    width: 100%;

    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
ul a:nth-child(4){
    color:orange;
}
ul a:active,a:hover,ul a:nth-child(4):hover{
  
        background-color: orange;
        color: black;
        transition:all 0.5s linear;
 
}
.name{
    padding: 100px 30px 30px 30px;
    
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3 0px;
    background: #000;
}
.name p{
    color:orange;
}
.name h1{
font-size: 80px;
color: white;
}
.inspiring{
    font-family: 'Times New Roman', Times, serif;
    
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    padding:30px 30px 0px 30px;
}
.inspiring h1{
    font-size:50px;
    letter-spacing: 5px;
    text-align: center;
}
.inspiring p{
    font-size: 25px;
    text-align: justify;
}

footer a{
    color:white;
}
footer{
  
    margin-top: 20px;
    padding:30px 30px 30px 30px ;
    height:200px;
  
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: space-between;
color: white;
}
footer button{
    height:40px;
    width:40px;
    background-color: transparent;
    border: none;
    border: 1px solid orange;
    color:orange;
    cursor: pointer;
   
    font-weight: 1200;
    font-size: 20px;
    
}
footer button:hover{
   
    background: orange;
    color:black;
    transition: all .5s linear ;
}
footer .last{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .last .lastCont{
    width:100%;
    display: flex;
    
    column-gap:10px;
    align-items: center;
    font-size: 12px;
}
footer .icon i{
    font-size:30px;
    padding:10px;
    color: white;
}
footer .icon i:hover{ background: #ffa500;
    color:black;
    transition: all .5s linear ;
    
}
.letWork{
    height:300px;
    width:100%;
    padding: 30px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;


}
.letWork p{
    font-size: 25px;
   
}
.letWork .mail{
    height:40px;
    width: 100%;
    /* margin:0px 30px; */
    background-color: orange;
    
    
}
.detail{
    padding: 10px 30px 0px 30px;
    user-select: text;
}

.letWork .mail a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.letWork .mail a:hover{
    background: #000;
    color:orange;
    transition: all .5s linear ;
}


@media screen and(min-width:350px),(max-width:960px){
    nav name{
        display: none;
    }
    nav{
        display: none;
    }
   
    .container{
        height:100%;
     display: flex;
     flex-direction: column;
    } 
     .nav{
        width:100%;
        display: flex;
        width:100vw;
        position: fixed;
        top:0px;
        background-color: red;
        align-items: center;
        justify-content: space-between;
      padding: 0px 30px 0px 0px; 
        background: rgba(56, 53, 53, 0.014);
        z-index: 20;
        backdrop-filter: blur(120px);
        margin-bottom: 100px; 
        /* background:red; */
    }
    .handburger{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        cursor: pointer;
    }
   

    .handburger:active span{
        background-color: orange;
    }
    

    span{
        z-index: 10;
        height:5px;
        width:25px;
        background-color: aliceblue;
        border-radius: 3px;
     }
    .remove{
        display: none;
    }
    
    .main .details {
        letter-spacing: 5px;
        font-size: 25px;    
    }
   
    .inspiring p ,.letWork p{
        font-size: 15px;
        padding-bottom: 20px;
    }
    .name{
        text-align: center;
    }
    .name h1,.inspiring h1,.letWork h1 {
        font-size: 28px;
    }
    h3{
        font-size:15px;
    }
    li{
        
        font-size: 13px;
    }
    footer p{
        font-size: 10px;
    }
    .size h1{
        padding-top:50px;
    font-size:40px;
    }
.edu .font li,p{
    font-size: 15px;
}
}

/*----------------------------------------------------*/

.head{
    height:100%;
    width:100vw;
    display:flex;  
position: fixed;
top:0px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  
    background: rgba(14, 13, 13, 0.144);
    
    padding:0px 30px 100px 30px ;
    flex-wrap: nowrap;
    z-index: 10;
    backdrop-filter: blur(15px);
   
}
 .button1{
    height:50px;
    width:100%;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color:orange;
    font-size: 15px;
    font-weight: bold;
    border:1px solid orange;
    text-align: center;
    display: flex;
align-items: center;
justify-content: center;

}
.a{
height:100%;
width:100%;

text-decoration: none;
text-align: center;

}
.button1:hover,.a:hover{
    color:black;
    background-color: orange ;
    transition: all .5s linear ;
    cursor: pointer;
   
}
.name{
    
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 5px;
    color:white;
}
.ul{
    display: flex;
    flex-direction: column;

   height:100%;
   align-items: center;
   width: 100%;
   color: #f5eded98;
   font-weight: bolder;
}
.ul .a{
    height: 100%;
    width:100%;
    text-align: center;
    
    margin-top: 40px;
    box-sizing: border-box;
    padding:0px 10px 0px 10px;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: none;
}
.ul .a:first-child{
    color:orange;
}
.ul .a:hover{
background:orange;
}


/*-------------------------------------*/


